go 1.19

use (
	.
	./api/types
	./cmd/lavanderia
	./internal/lavanderia/controllers
	./internal/lavanderia/databases
	./internal/lavanderia/repositories
	./internal/lavanderia/routers
	./internal/lavanderia/handlers/business
	./internal/lavanderia/handlers/auth
)
