go 1.19

use (
	.
	./api/types
	./cmd/lavanderia
	./internal/lavanderia/config
	./internal/lavanderia/controllers
	./internal/lavanderia/databases
	./internal/lavanderia/handlers/auth
	./internal/lavanderia/handlers/business
	./internal/lavanderia/handlers/product
	./internal/lavanderia/handlers/client
	./internal/lavanderia/handlers/address
	./internal/lavanderia/middlewares
	./internal/lavanderia/repositories
	./internal/lavanderia/routers
)
